header {
  font-family: 'Damion', cursive;
  font-size: 8em;
  padding: 15px 0; }
  header a {
    color: #ecf0f1;
    transition: color 0.4s ease-in; }
    header a:hover {
      text-decoration: none;
      color: #ccc; }
